<header>
  <div class = "topHeader">
    <div class = "container">
      <a id = "mainLogo" href="/">vai</a>
        <nav>
            <ul>
              <li><a href="#">Reserve A Car</a></li>
              <li><a href="#">Login</a></li>
              <li><a href="#">Sign Up</a></li>
            </ul>
          </nav>
    </div>
    </div>
  <div class = "bottomHeader">
    <a href="#" (click) = "changeMode(1)">Deliver To </a>
    <a href="#" (click) = "changeMode(0)">Pick Up </a>
  </div>
</header>
